@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    transition: 2s all;
}

body {
    background-color: #000000;
}

.white {
    color: white;
}

header {
    position: fixed;
    border-right: 1px solid rgba(128, 128, 128, 0.13);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: space-around;
    color: white;
    width: 20%;
}

.logo {
    font-size: 1.3em;
    margin-left: 10%;
}

.menu {
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10%;
}

.hamburg {
    margin-left: 10%;
    cursor: pointer;
}

.link-icon {
    color: white;
    width: 75%;
    display: flex;
    transition: .5s;
    border: 1px solid transparent;
}

.link-icon:hover {
    border: 1px solid transparent;
    background-color: rgb(39, 39, 39);
    padding: 13px;
    border-radius: 4%;
}

.i {
    margin-right: .5em;
    width: 1.5625em;

}

.icon {
    display: flex;
    align-items: center;
}

.container2 {
    width: 75%;
}


.pointer{
    cursor: pointer;
}
.cinza {
    color: #8F8F8F;
}

.azul {
    color: #0095F6;
}

.border {
    border: 1px solid white;
}

.desc {
    display: flex;
    width: 100%;
}
.fto-per {
    object-fit: cover;
    max-width: 100%;
    border: 1px solid transparent;
    border-radius: 100%;
}
.ftovideo {
    width: 29.25em;
    height: 29.25em;
    margin: auto;
    position: relative;
}

.fv-post {
    max-width: 100%;
}

.laranja {
    color: #fb8500;
}



.bold {
    font-weight: 600;
}

.minu {
    text-transform: lowercase;
}


.flex {
    display: flex;
}

.mt {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.me {
    margin-left: .2em;
}








.container-principal {
    width: 80%;
    margin-left: auto;
}

.container-footer {
    width: 30%;
}

.grow1 {
    flex-grow: 1;
}

.img-perfil-fo {
    width: 6.25em;
}

.me {
    margin-left: 1em;
}

.center {
    align-items: center;
}

.img-perfil-fo2 {
    width: 18%;
}

.text-peq {
    font-size: .8em;
}

.text-peq-2 {
    font-size: .7em;
}

.mt--1 {
    margin-top: .5em;
}

.none{
    display: none;
}

.box-input {
    position: relative;
    margin-top: 2em;
}

.box-input label {
    position: absolute;
    top: .7em;
    z-index: 20;
    left: 0;
    transition: all 0.2s;
}

input {
    width: 100%;
    border: none;
    border-bottom: #000 solid 1px;
    outline: none;
    margin-top: 3%;
    background-color: transparent;
    border-bottom: #fff solid 1px;
    transition: all 0.2s;

}



.container-contato {
    margin: 2% 5%;
}

input:focus {
    border: none;
    border-bottom: #fb8500 solid 1px;
    outline: none;
    color: #fb8500;
}

.text{
    text-align: center;
}


input:valid+label,
input:focus+label {
    top: -1em;
    color: #fb8500;
    font-size: 90%;
}



#enviar {
    width: 100%;
    padding: .5rem;
    transition: all 1s;
    background-color: #000;
    color: #ffffff;
    margin-top: 3%;
}

#enviar:hover {
    background-color: #fb8500;
    color: #fff;
}

textarea {
    width: 100%;
    margin-top: 3%;
    transition: all 1s;
    outline: none;
    height: 10rem;
}

textarea:focus {
    border: 1px solid #fb8500;
}

textarea:focus+label {
    color: #fb8500;
}


.black{
    color: #000000;
}

.bg-white{
    background-color: whitesmoke;
}

@media screen and (min-width: 884px) and (max-width: 1326px) {
    header {
        position: fixed;
        display: flex;
        font-size: 1.2em;
        color: white;
        justify-content: flex-start;
        bottom: 0vh;
        background-color: #000000;
        z-index: 100;
        width: 10%;
        margin-left: 0;
        align-items: center;
        justify-content: space-around;

    }

    
    .logo{
        display: none;
    }

    .none{
        display: block;
    }
    .texto-div {
        display: none;
    }
}


@media screen and (max-width: 883px) {

    .none{
        display: none;
    }

    header {
        position: fixed;
        height: 2em;
        display: flex;
        font-size: 1.2em;
        color: white;
        width: 100%;
        justify-content: flex-start;
        bottom: 0vh;
        background-color: #000000;
        z-index: 100;

    }

    .logo {
        display: none;
    }

    .hamburg {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        background-color: #000000;
        z-index: 100;
        width: 100%;
        margin-left: 0;
    }

    .texto-div {
        display: none;
    }

    .container-principal {
        margin: auto;
    }

    footer {
        display: none;
    }

    .container-principal {
        width: 100%;
    }

    .container2 {
        width: 100%;
    }


    .story {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }

    .img-perfil-fo {
        width: 2em;
    }

    .ftovideo {
        width: 468px;
        height: 468px;
        margin: auto;
        position: relative;
    }
}